<div class="container" *ngIf="(products$ | async); let products">
  <h2 class="title is-4 column is-12">Products</h2>

  <div class="columns is-multiline">
    <ng-container *ngIf="products.length; else loading">
      <div *ngFor="let product of products; let i = index;" class="column is-3">
        <app-product-card
          #productCard
          [product]="product"
          (onSeeProductDetail)="seeProductDetail($event)"
          (onAddProductToCart)="addProductToCart($event)">
        </app-product-card>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="column is-full">
    <app-progress-bar
      text="Loading products...">
    </app-progress-bar>
  </div>
</ng-template>





