<div class="container" *ngIf="(products$ | async); let products">
  <h2 class="title is-4 column is-12">Products</h2>

  <div class="columns is-multiline">
    <ng-container *ngIf="products.length; else loading">
      <div *ngFor="let product of products" class="column is-3">
        <app-product-card
          [product]="product"
          (onSeeProductDetail)="seeProductDetail($event)"
          (onAddProductToCart)="addProductToCart($event)">
        </app-product-card>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="column is-12">
    <app-progress-bar text="Loading products..."></app-progress-bar>
  </div>
</ng-template>

<div *ngIf="productVisible">
  <p>Product name: {{ product.name }}</p>
  <p>Product price: {{ product.price }}</p>
  <p>Made in: {{ product.madeIn }}</p>

  <div [ngSwitch]="product.category">
    <p *ngSwitchCase="productCategory.Boxe">
      This is a Boxing item
    </p>
    <p *ngSwitchCase="productCategory.Kickboxing">
      This is a Kickboxing item
    </p>
    <p *ngSwitchCase="productCategory.MMA">
      This is an MMA item
    </p>
  </div>
</div>



