<!-- <form>
  <div class="block">
    <label class="is-block">Country of origin</label>
    <select>
      <option *ngFor="let c of selects.country" [value]="c.value">
        {{ c.label }}
      </option>
    </select>
  </div>
  <div class="block">
    <label class="is-block">Civil status</label>
    <select>
      <option *ngFor="let cs of selects.civilStatus" [value]="cs.value">
        {{ cs.label }}
      </option>
    </select>
  </div>
</form> -->

<!-- <div class="container">
  <app-template-driven-form></app-template-driven-form>
</div> -->

<div class="container">
  <app-reactive-form></app-reactive-form>
</div>

