<div class="container">
  <div class="block">
    <h2 #title class="title is-4">Welcome to the Sports App!</h2>
    <p>Lorem ipsum, dolor sit amet...</p>
  </div>

  <div class="block">
    <span class="mr-3" *ngFor="let b of navigateButtons">
      <app-navigate-button
        [navigateTo]="b.navigateTo"
        [buttonText]="b.buttonText"
        [buttonClass]="b.buttonClass">
      </app-navigate-button>
    </span>
  </div>
</div>

<!-- <input #fileInput type="file">
<input type="text"> -->

<app-file-uploader></app-file-uploader>



